.circle-button-root {
  background-color: #3498db;
  color: white;
}

.circle-button-root:hover {
  background-color: #2980b9; /* Новый цвет при наведении */
}

.circle-button-focus-visible {
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.4); /* Новый эффект focus-visible */
}