.basket {
  padding-right: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  .text {
    color: black;

    padding-right: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;

    @media (max-width: 436px) {
      font-size: 25px;
    }
  }
  .basket_image_around {
    display: flex;
    justify-content: center;

    background: white;
    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 60px;
    transition: transform 0.2s ease-in-out;
    .basket_image {
      height: 45px;
      width: 45px;
      padding: 2px;
    }
    &:hover {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 436px) {
    flex-direction: column-reverse;
  }
  
}
