@mixin small_device_min {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin middle_device_min {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin large_device_min {
  @media (max-width: 992px) {
    @content;
  }
}

.catalog {
  transition: width 0.5s;
  height: 100%;


  .catalog__head {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 15px 0px;


    .catalog__head_category {
      padding: 0.5%;
      text-align: center;
      font-size: 1.8rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }

  .catalog__body {
    display: grid;
    grid-template-columns: repeat(4,25%);
    position: relative;
    grid-row-gap: 4em;
    height: 100%;
    padding: 2%;

    @include large_device_min {
      grid-template-columns: repeat(3, 34%);
    }
    @include middle_device_min {
      padding-right: 0;
      grid-template-columns: repeat(2, 50%);
    }
    @include small_device_min {
      grid-template-columns: repeat(1, 100%);
      padding-left: 6%;
    }
  }
}
