.header {
  background: black;
  padding: 10px;
  z-index: 5;
  position: sticky;
  top: 0.1px;
  .menu {
    position: relative;
    background: rgb(152, 239, 152);
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 5px 20px;
    flex-direction: row;
    justify-content: space-between;
    .LogoSearch{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      @media (max-width: 720px) {
        width: 60%;
      }
      @media (max-width: 576px) {
        flex-direction: column;
      }
    }
  }
}


